<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peliculas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="css/peliculas.css" rel="stylesheet" >

</head>
<body>
<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="img/logo2.png" alt="" width="24" height="24" class="d-inline-block align-text-top">
            Mis películas
        </a>
    </div>
</nav>
<div class="container mt-4 p-destacados">
    <div class="row">
        <div th:each="pelicula: ${peliculas}" class="col-md-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img th:src="${pelicula.imagenUrl}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${pelicula.titulo}" class="card-title"></h5>
                    <span th:text="${pelicula.generopelicula.nombre}" class="badge text-bg-info"></span>
                    <p  th:text="${pelicula.descripcion}" class="card-text"></p>

                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="#" class="btn btn-primary">Ver detalles</a></small>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>